.payment-wrapper {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 12px rgba(0, 255, 255, 0.1);
    max-width: 600px;
    margin: 2rem auto;
    color: white;
  }

  /* .ticketheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .ticketheader h2 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #fff;
  }
  
  .ticketheader .small {
    font-size: 0.9rem;
    color: #fff;
  } */
  
  .payment-summary {
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
  }

  .payment-summary *:where(:not(:last-child)){
    margin-bottom: .5rem
  }
  .paystack-button {
    background-color: #0a6;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
  }
  
  
  .methods label {
    display: block;
    margin-top: 0.8rem;
  }
  